<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta name="author" content="Yusuf Sezer - www.yusufsezer.com" />
    <title>@ViewBag.PageTitle - @ViewData["BlogTitle"]</title>
    <link rel="stylesheet" href="~/Content/sb-admin.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    @RenderSection("Head", required: false)
</head>
<body id="page-top">

    <!-- Navigation -->
    @Html.Partial("Partials/Navigation")

    <div id="wrapper">

        <!-- Sidebar -->
        @Html.Partial("Partials/Sidebar")

        <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/Admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">@ViewBag.PageTitle</li>
                </ol>

                @RenderBody()
            </div>

            <!-- Sticky Footer -->
            @Html.Partial("Partials/Footer")

        </div>

    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/bundles/admin")
</body>
</html>