@model aspnet_mvc_blog.Models.Entity.Entry
@{
    ViewBag.PageTitle = "Create new page";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Pages = true;
}

@section Head {
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet" />
}

<!-- Page Content -->
<h1 class="h3 d-inline">@ViewBag.PageTitle</h1>

<hr />

@using (Html.BeginForm())
{
    <div class="row">

        <div class="col-lg-9 col-md-12 mb-3">
            <div class="card">
                <div class="card-header">@ViewBag.PageTitle</div>
                <div class="card-body">

                    @Html.AntiForgeryToken()

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    <div class="form-group">
                        @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control", @autofocus = "autofocus", @placeholder = "Title" } })
                        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.TextAreaFor(model => model.Content, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-12 mb-3">
            <div class="card">
                <div class="card-header">Options</div>
                <div class="card-body">

                    <div class="form-group">
                        @Html.LabelFor(model => model.CreatedAt)
                        @Html.EditorFor(model => model.CreatedAt, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = DateTime.Now.ToString("yyyy-MM-dd") } })
                        @Html.ValidationMessageFor(model => model.CreatedAt, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Status)
                        @Html.EnumDropDownListFor(model => model.Status, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-check">
                        @Html.EditorFor(model => model.CommentStatus, new { htmlAttributes = new { @class = "form-check-input" } })
                        @Html.LabelFor(model => model.CommentStatus, htmlAttributes: new { @class = "form-check-label" })
                        @Html.ValidationMessageFor(model => model.CommentStatus, "", new { @class = "text-danger" })
                    </div>

                </div>

                <div class="card-footer text-right">
                    <input type="submit" class="btn btn-primary btn-block" value="Publish" />
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script>
        $('#Content').summernote({
            height: 300
        });
    </script>
}